{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav.navbar {
  background-color: lightblue !important;
}

.nav-link {
  font-size: 18 px !important;
  color: lightpink !important;
}

.nav-link:hover {
  color: lightyellow !important;
}
.navbar-brand img {
  width: 50px;
}
